:root {
  --deep-red: #a41111;
  --light-red: #b74f4e;
  --deep-green: #57a65b;
  --off-white: #eeeeee;
  --light-gray: #919191;
}

body {
    background-color: black;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}
h1 {
    color:var(--deep-red);
    font-size: 2.5rem;
}
.scrambled-word {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--off-white);
}
.input-box {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    border: 2px solid var(--light-gray);
    border-radius: 1px;
    background-color: black;
    color: white;
}

.correct {
    background-color: var(--deep-green);
}

.incorrect {
    background-color: var(--light-red);
}

.input-box:focus {
    border-color: var(--deep-green);
    outline: none;
}
button {
    background-color: var(--deep-green);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: var(--deep-green);
}
.success-message {
    font-size: 1.5rem;
    color: var(--deep-green);
    margin-top: 20px;
}
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--deep-green);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color:var(--deep-red);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.switch-label {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.5rem;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 100px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}